# ~/.aliases

# Basic
# Eza instead of ls
alias ls='eza --color=always --icons=always --group-directories-first'
alias ll='eza -l --color=always --icons=always --git --group-directories-first'
alias la='eza -la --color=always --icons=always --git --group-directories-first'
# Bat instead of cat
alias cat='bat'
# Zoxide instead of cd
eval "$(zoxide init zsh)"
# FZF - Fuzzy Finder (instead od Ctrl + R)
source /usr/share/fzf/key-bindings.zsh
source /usr/share/fzf/completion.zsh

# Games & GPU
alias p='prime-run'
alias set-hybrid='sudo envycontrol -s hybrid'
alias set-intel='sudo envycontrol -s integrated'

# Launch Catppuccin Mocha Theme
export BAT_THEME="Catppuccin Mocha"

# Docker/Podman
export DOCKER_HOST="unix://$XDG_RUNTIME_DIR/podman/podman.sock"
export REGISTRY_AUTH_FILE="$HOME/.docker/config.json"

# Kubernetes (Minikube kubectl)
alias kubectl="minikube kubectl --"
alias k="kubectl"
