# ~/.aliases

# =========================================
# Basic
# =========================================
alias ls='eza --color=always --icons=always --group-directories-first'
alias ll='eza -l --color=always --icons=always --git --group-directories-first'
alias la='eza -la --color=always --icons=always --git --group-directories-first'
alias cat='bat'

# =========================================
# Games & GPU
# =========================================
alias p='prime-run'
alias set-hybrid='sudo envycontrol -s hybrid'
alias set-intel='sudo envycontrol -s integrated'

# =========================================
# Kubernetes (Minikube)
# =========================================
alias kubectl="minikube kubectl --"
alias k="kubectl"

